*{
	box-sizing: border-box;
}
body{
	font-family: verdana;
	margin: auto;
	padding: 5%;
	
	
}
header{
	
	font-size: 20px;
	background-color: white;
	color: black;
	padding-left: 30px;
	border: 1px solid black;
	
}

.heading{
	width: 100%;
	display: flex;
	border: 1px solid black;
}
.rows{
	width: 100%;
	display: flex;
	
}
.col{
	width: 30%;
	float: left;
	margin: auto;
	text-align: justify;
	
}

.imagem{
	padding-top: 70px;
	flex: 60%;
	padding-left: 70px;
	border: 1px solid black;
	} 	

.imagem img{
	width: 30%;
}

.Endereco{
	padding-top: 30px;
	padding-left: 70px;
	padding-bottom: 30px;
	flex: 30%;
	
	border: 1px solid black;
}
.Endereco img{
	width: 250px;
}
.Endereco a{
	
	
}