*{
	box-sizing: border-box;
}
body{
	font-family: verdana;
	margin: 0;
	
	
	
}
header{
	padding: 40px;
	font-size: 25px;
	text-align: center;
	background-color: white;
	color: black;
}
nav{

	text-align: center;
	background-color: black;
	width: 100%;
	margin-top:-1rem;
	display: flex;
	flex-wrap: wrap;
}

nav ul{
	width: 100%;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav li{
	list-style-type: none;
	display:inline;
	padding: 0 2%;
	
	
}
nav a{
	color: white;
	text-decoration: none;
	transition: 400ms;
	font-size:1.1rem;
	display:inline;
	
}


nav a:hover{
	color: lightgreen;
	font-size: 20px;
}
.linkEsquerda{
	flex: 30%;
	text-align: left;
	margin-left: -2%;
	padding: 5px;
}
.linkDireita{
	flex: 30%;
	padding-right: 2%;
	text-align: right;
	padding: 5px;
}
.container{
	display: flex;
	flex-wrap: wrap;
	
}
.direita{
	flex: 20%;
	background-color: white;
	padding: 20px;
	
}
.conteudo{
	flex: 80%;
	background-color: white;
	padding: 20px;
}

.imgFake{
	background: lightgray;
	width: 100%;
	padding: 10px;
	color: black;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px;;
}