body{
	margin: 0;
	font-family: verdana;
}
header{
	background-image: linear-gradient(white,darkgray,black,olive);
	padding: 20px;
	text-align: center;
	color: white;
	width: 100%;
	float: left;

}
nav{
	background-color: gray;
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
}
.menu ul{
		padding-left: 0px;

}
.menu ul li{
	list-style-type: none;
	display: inline;
	float: left;
}
.menu a{
	padding: 15px;
	display: block;/* add bloco na tag a*/
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
}
.menu a:hover{
	background-color: indigo;
	transition: 0.5s;
}
section{
	border: 1px solid purple;
	width:	50%;
	margin: auto;
}
.tbPreco{
	width: 100%;
	border-collapse: collapse; /*Aplica formatação na primeira linha*/
	text-align: center;
}
.tbPreco tr, td, th{
	padding: 8px;
	border: 1px solid indigo;
}
.tbPreco th{
	color: darkblue;
	font-size: 20px;
}


.tbNotas{
	width: 100%;
	border-collapse: separate; /*Aplica formatação na primeira linha*/
	text-align: center;
}
