.menu img{
    width: 15%;
	height: 15%;
	
}
.menu li:hover{
    background-color: rgba(67, 170, 113, 0.897);
    transition: 1.0s; 
    transform: translateX(5px);
    
}
.parteCima{
	flex: 100%;
	width: 100%;
}

body{
    background-color: white;
    border-color: black;
    font-family: 'Segoe UI';
	display: flex;
}
parteCima{
	flex: 100%;
}

    
